.stats-box {
    background-color: #f3f3f3;
    padding: 1rem;
    border-radius: 5px;
    border-left: 5px solid #4a4a4a;
    margin-bottom: 2rem;
}

.action-bar {
    display: flex;
    gap: 10px;
    margin: 15px 0 15px 0;
}

.record-item {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
